<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoLKZImNFjp2EZhsln_vROBDnKbEgfwXg</string>
	<key>GCM_SENDER_ID</key>
	<string>809182906117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autobucket</string>
	<key>PROJECT_ID</key>
	<string>autobucket-dafdd</string>
	<key>STORAGE_BUCKET</key>
	<string>autobucket-dafdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809182906117:ios:b3f5a1900d3d2c8560196c</string>
</dict>
</plist>